*{
    background-color: #000000;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
@font-face{
    font-family: 'swiss';
    src: url(../fonts/SwissGrit.otf)
}
.header{
    width: 100%;
    position: fixed;
    background-color: #2a2a2a;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.header:hover{
    transform: translate(10px);
}
.h-container{
    justify-content: space-evenly;
    max-width: 600px;
    max-height: 120px;
    height: 120px;
	margin: 0;
}
.header-h3{
    font-family: 'swiss';
    font-size: xx-large;
    color: #adadad;
}
.background-pic{
    height: 882px;
    width: 1431px;
    object-fit: contain;
}
h3{
    font-family: 'swiss';
    text-transform:uppercase;
    letter-spacing: 9px;
    color: #adadad;
}
.latin {
    font-family: 'swiss';
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 79px;
}
.morce {
    word-spacing: 30px;
    font-family: 'swiss';
}
.img1{
    height: 882px;
    width: 1431px;
}
.img3{height: 882px;
    width: 1431px;
}
#imgid:target{
    border: 2px white;
    scroll-behavior: smooth;
}
.morse-trans{
    height: 50px; 
    width: 400px;
    box-shadow: 8px 4px 13px black;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.morse-trans:hover{
    transform: translateY(-10px);
}
div {
    color: #B4A9A3;
}
.footer{
    font-family: 'swiss';
    background-color: #1d1d1d;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
	margin:auto;
}




